.app {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    min-width: 100vw;

    background: #1a1a1a;
    color: var(--white);

    overflow-x: hidden;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 0.5rem;

    padding: 0.5rem;

    background: var(--black);

    border-radius: 3px;
}

.screen {
    padding: 0.5rem 0.75rem;

    height: 100%;
    width: 100%;

    background: var(--dark);

    line-break: anywhere;

    border-radius: 3px;

    overflow-y: scroll;
}

.screen::-webkit-scrollbar {
    width: 0.5rem;

    background: var(--dark);

    border-radius: 3px;
}

.screen::-webkit-scrollbar-thumb {
    background: var(--black);

    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.buttons button {
    padding: 0.75rem 1rem;

    font-size: 1.25rem;
    font-family: inherit;

    border: none;
    border-radius: 3px;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons button:not(.equalTo, .clean, .delete, .noNum) {
    background: var(--dark);
}

.clean,
.delete {
    background: var(--red);
}

.noNum {
    background: var(--gray);
}

.equalTo {
    background: var(--blue);
}
