:root {
    font-family: 'Merienda', cursive;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: dark;
    color: #ffffffde;
    background: #1a1a1a;

    --white: #fff;
    --black: #080808;
    --dark: #171717;
    --dark-2: #1d1d1d;
    --dark-3: #222;
    --dark-4: #242424;
    --gray: #949494;
    --red: #b21f38;
    --blue: #4338a2;
    --purple: #58299f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
} */
